<template>
  <div class="GDDMain">
     <iframe class="GDDContent" src="https://docs.google.com/document/d/e/2PACX-1vRMto-Vjn7hMezjjS4cuIjsnqkfzCYenrMcIgtdZ0ZgjS9nUWaW-cSp4zoqSe1Qi9DsGkcpQYLrwFgn/pub?embedded=true"></iframe>
  </div>
</template>

<script>

export default {
  name: 'GDD',
}
</script>

<style scoped>
.GDDMain{
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 010vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.GDDContent{
  width: 100%;
  height: 100%;
  padding-left: 50%;
}

.text{
  padding: 5%;
  width: 100%;
  text-align: center;
}
</style>
