<template>
  <div class="home MainBackground">
    <modal :adaptive="true" width="25%" height="25%" name="select-install-location">
      <input id="myFile" v-on:change="OnInputUpdated" type="file" accept=".exe" />
      <label for="myFile">
        <i class="material-icons">sports_esports</i> Choose Location
      </label>
    </modal>

    <div class="button-container">
      <div class="button" v-on:click="OnDownloadClicked">D O W N L O A D</div>
      <div class="button" v-on:click="OnPlayPressed">P L A Y</div>
      <div class="select" v-on:click="OnSelectFilePressed">
        <span class="topbar"></span>
        <span class="middlebar"></span>
        <span class="bottombar"></span>
      </div>
    </div>
    <div
      class="progress"
      v-bind:style="{opacity: (progresspercent > 0 && progresspercent < 100)?1:0}"
    >
      <div
        class="progress-done"
        v-bind:style="{width:progresspercent+'%',opacity:progresspercent>1?1:0}"
      >{{progresspercent}}%</div>
    </div>
    <div class="backparallax">
      <parallax-container class="backparallax">
        <parallax-element :parallaxStrength="-5" :type="'translation'">
          <div class="back"></div>
        </parallax-element>

        <parallax-element :parallaxStrength="10" :type="'translation'">
          <div class="chars"></div>
        </parallax-element>

        <parallax-element :parallaxStrength="20" :type="'depth'">
          <div class="logo"></div>
        </parallax-element>
      </parallax-container>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ParallaxContainer from "../components/parallax-container.vue";
import ParallaxElement from "../components/parallax-element.vue";
import axios from "axios";
const Store = require("electron-store");
const store = new Store();
const { remote } = require("electron");
export default {
  name: "Home",
  components: {
    ParallaxContainer,
    ParallaxElement
  },
  data() {
    return {
      //fileName = "Build.zip"
      progresspercent: 0
    };
  },
  mounted() {
    console.log("init : " + store.get("gamelocation"));
    console.log(store.path);
    let newpath = store.get("gamelocation");
    this.setGameLocation(newpath);
  },
  computed: mapGetters(["getGameLocation"]),
  methods: {
    ...mapActions(["setGameLocation"]),

    OnSelectFilePressed() {
      this.$modal.show("select-install-location");
    },

    OnInputUpdated() {
      this.playfilepath = document.getElementById("myFile").files[0].path;
      let path = this.playfilepath;
      let newpath = "";
      for (var i = 0; i < path.length; i++) {
        if (path[i] == "\\") {
          newpath += path[i] + "\\";
        } else {
          newpath += path[i];
        }
      }
      this.setGameLocation(newpath);

      store.set("gamelocation", newpath);
      console.log(store.get("gamelocation"));
      this.$modal.hide("select-install-location");
    },

    OnPlayPressed() {
      console.log("GL: " + this.getGameLocation);
      if (this.getGameLocation == "" || this.getGameLocation == undefined) {
        this.$modal.show("select-install-location");
        return;
      }
      //run the game
      console.log("Playing");
      var child = require("child_process").execFile;
      var executablePath = this.getGameLocation;
      var parameters = [];

      child(executablePath, parameters, function(err, data) {
        console.log(err);
        console.log(data.toString());
      });
      remote.BrowserWindow.getFocusedWindow().minimize();
    },

    async OnDownloadClicked() {
      if (this.progresspercent > 0 && this.progresspercent != 100) {
        return;
      }
      console.log("downloading");
      axios({
        url:
          "https://storage.googleapis.com/telemetaryproject.appspot.com/UnworthyRoses_Prototype.7z",
        method: "GET",
        responseType: "blob",
        onDownloadProgress: progressevent => {
          console.log(progressevent.loaded / progressevent.total);
          let percentage = (progressevent.loaded / progressevent.total) * 100;
          this.progresspercent = Number(percentage.toFixed(2));
        }
      }).then(response => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        fileLink.setAttribute("download", "UnworthyRosesBuild.7z");
        document.body.appendChild(fileLink);
        fileLink.click();
      });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
label {
  display: flex;
  color: whitesmoke;
  height: 50%;
  width: 75%;
  font-size: 100%;
  left: 12.5%;
  top: 25%;
  background-color: gold;
  position: absolute;
  margin: auto;
  text-emphasis: bold;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s all ease;
  border-radius: 25px;
}

label:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 2px 0px darkslateblue;
}

input[type="file"] {
  display: none;
}

.petals {
  background-image: url("../assets/petals.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 70vw;
  transform: translate(40%, 10%);
}

.logo {
  background-image: url("../assets/UWLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
  transform: translate(50%, 30%);
}
.chars {
  position: absolute;
  background-image: url("../assets/Chars.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  transform: translateY(55%);
}

.back {
  position: absolute;
  background-image: url("../assets/Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.backparallax {
  display: block;
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.button {
  margin: 20px;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  font-size: 100%;
  cursor: pointer;
  padding: 0px;
  font-weight: bolder;
  border: 5px solid #ff7675;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 2;
  transition: 1s all ease;
}

.select {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  font-size: 100%;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  z-index: 2;
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 25px;
}

.select .topbar {
  width: 100%;
  height: 25%;
  background: #ff7675;
  top: 0px;
  transform: rotate(0);
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
}
.select .middlebar {
  width: 75%;
  height: 25%;
  margin-top: 10%;
  background: #ff7675;
  top: 0px;
  transform: rotate(0);
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
}

.select .bottombar {
  width: 50%;
  height: 25%;
  margin-top: 10%;
  background: #ff7675;
  top: 0px;
  transform: rotate(0);
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
}

.select:hover {
  transform: rotate(-180deg) scale(1.4);
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.button::before {
  background: #ff7675;
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: -1;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.6s ease;
}

.button:hover::before {
  height: 300%;
}

.progress {
  height: 50px;
  width: 50%;
  background-color: darkslateblue;
  border-radius: 30px;
  margin: 2%;
  transition: 1s ease;
  overflow: hidden;
  z-index: 20;
}

.progress-done {
  height: 100%;
  width: 50%;
  background: linear-gradient(to left, pink, tomato);
  box-shadow: 0 3px 3px -5px plum, 0 2px 5px tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: 0.2s ease;
}

.button-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 10%;
  height: 5%;
  min-width: 50vw;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
</style>
