<template>
  <div class="PATCHMain">
     <iframe class="PATCHContent" src="https://docs.google.com/document/d/e/2PACX-1vSnvjGNqfcx69RDvjRGvXXqgeCKISzjPDBlISaYLlULuCm1k8tOkNZYRpy1WXNzbhblV75R1DByXXY9/pub?embedded=true"></iframe>
  </div>
</template>

<script>

export default {
  name: 'PATCH',
}
</script>

<style scoped>
.PATCHMain{
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 010vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.PATCHContent{
  width: 100%;
  height: 100%;
  padding-left: 50%;
}

.text{
  padding: 5%;
  width: 100%;
  text-align: center;
}
</style>
