<template>
  <div class="TDDMain">
     <iframe class="TDDContent" src="https://docs.google.com/document/d/e/2PACX-1vTe98rqrneUnSxdbSJh-dwt5cPStbpM2y5fn5TNm0T6WeXTIofVMfz5duG-fGDNAvhv5V6-JKvbDIA5/pub?embedded=true"></iframe>
  </div>
</template>

<script>
// @ is an alias to /src
//import ParallaxContainer from "../components/parallax-container.vue";
//import ParallaxElement from "../components/parallax-element.vue";
export default {
  name: 'TDD',
  components: {
    //ParallaxContainer,
    //ParallaxElement
  }
}
</script>

<style scoped>
.TDDMain{
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 010vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.TDDContent{
  width: 100%;
  height: 100%;
  padding-left: 50%;
}

.text{
  padding: 5%;
  width: 100%;
  text-align: center;
}
</style>
