<template>
  <div class="wip">

     <parallax-container class="backparallax">
        <parallax-element :parallaxStrength="-50" :type="'depth'">
          <div class="text top">Coming</div>
        </parallax-element>

        <parallax-element :parallaxStrength="50" :type="'depth'">
          <div class="text btm">Soon!</div>
        </parallax-element>
      </parallax-container>
  </div>
</template>

<script>
// @ is an alias to /src
import ParallaxContainer from "../components/parallax-container.vue";
import ParallaxElement from "../components/parallax-element.vue";
export default {
  name: 'WIP',
  components: {
    ParallaxContainer,
    ParallaxElement
  }
}
</script>

<style scoped>
.wip{
  display: flex;
  flex-direction: column;
  background-color: darkslateblue;
  font-size: 010vw;
  color: black;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.text{
  padding: 5%;
  width: 100%;
  text-align: center;
 
}

.top{
  background-color: whitesmoke;
  border-radius: 10px 50px;
}
.btm{
 -webkit-text-stroke: whitesmoke 5px;
}
</style>
