<template>
  <div class="closebtn" v-on:click="OnClosePressed">
    <h1></h1>
  </div>
</template>

<script>
const { remote } = require("electron");
export default {
  name: "CloseButton",
  methods: {
    OnClosePressed() {
      console.log("Closing");
      remote.app.quit();
    }
  }
};
</script>

<style scoped>
.closebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Cross.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 3%;
  width: 50px;
  height: 50px;
  right: 1%;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s all ease;
}

.closebtn:hover {
  transform: rotate(180deg) scale(1.2);
  background-image: url("../assets/Cross.png");
}
</style>
