<template>
<nav class="navigation" v-bind:class="{'navigation-open': IsNavbarActive}" >
  <section class="navigation_icon" v-on:click="IsNavbarActive = !IsNavbarActive">
    <span class="topbar"></span>
    <span class="middlebar"></span>
    <span class="bottombar"></span>
  </section>

  <div class="navigation_ul">
    <router-link class="full" to="/">HOME</router-link>
    <router-link class="full"  to="/PATCH">Patch</router-link>
    <router-link class="full"  to="/GDD">GDD</router-link>
    <router-link class="full"  to="/TDD">TDD</router-link>
    <router-link class="full"  to="/wip">Team</router-link>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Navbar',
  data(){
    return{
      IsNavbarActive:false
    }
  },
  mounted(){
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*,*:before,
*:after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.navigation{
  width: 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: darkslateblue;
  border-radius: 0% 50% 350% 0%;
  perspective: 800;
  transition: all 0.8s cubic-bezier(0.9,0,.33,1);
}

.navigation_icon{
  margin-top: 20%;
  padding: 20%;
  width: 50%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0%;
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}

.navigation_icon .topbar{
  width: 100%;
  height: 5px;
  background: white;
  top: 10%;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}

.navigation_icon .middlebar{
  width: 80%;
  height: 5px;
  background: white;
  top: 20px;
    margin-top: 10%;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}

.navigation_icon .bottombar{
  width: 50%;
  height: 5px;
  margin-top: 10%;
  background: white;
  top: 30px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}

.full{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  font-weight: 800;
}
.navigation .navigation_ul{
  opacity: 0;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  visibility: hidden;
  text-align: right;
  transform: rotateY(-90deg) translateX(-30vw);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}

router-link{
  height: 100%;
}

.navigation .navigation_ul a{

 text-transform: uppercase;
 text-decoration: none;
 color: white;
}

.navigation .navigation_ul a:hover{
color:black;
}

.navigation-open{
  width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background:  #ff7675;
  position: absolute;
  left: 0;
  border-radius: 0% 5% 5% 0%;
}

.navigation-open .navigation_icon{
  left:70%;
  top: 20%;
}

.navigation-open .navigation_ul{
  opacity: 1;
  visibility: visible;
}

.navigation-open .topbar{
  width: 50%;
  top: 10%;
  transform: translateX(100%) rotate(45deg);
}

.navigation-open .middlebar{
  width: 0;
  top: 22px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

.navigation-open .bottombar{
  width: 50%;
  top: 10%;
  opacity: 1;
  transform: translateX(100%) translateY(-750%)rotate(-45deg);
}

.navigation-open .navigation_ul{
  transform: rotateY(0) translateX(0);
}


</style>
