<template>
  <div class="readmebtn" v-on:click="OnUpdatePressed">
    <div class="readmeIcon"></div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "ReadmeButton",
  mounted() {
    console.log("Mounted Readme Button");
  },
  methods: {
    OnUpdatePressed() {
      console.log("Downloading Readme");
      axios({
        url:
          "https://storage.googleapis.com/telemetaryproject.appspot.com/ReadMe.txt",
        method: "GET",
        responseType: "blob"
      }).then(response => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        fileLink.setAttribute("download", "Unworthy Roses Readme.txt");
        document.body.appendChild(fileLink);
        fileLink.click();
      });
    }
  }
};
</script>

<style scoped>
.readmebtn {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 184, 184);
  top: 15%;
  width: 250px;
  height: 50px;
  right: -6%;
  cursor: pointer; 
  transition: 0.5s all ease;
}

.readmeIcon {
  width: 25%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/ReadmeIcon.png");
}
.readmebtn:hover {
  transform: scale(1.2);
}
</style>
