<template>
  <div class="updatebtn" v-on:click="OnUpdatePressed">
    <div><h2>Update Launcher</h2></div>
    <div class="updateIcon"></div>
  </div>
</template>

<script>
//const { remote } = require("electron");
import axios from "axios";
export default {
  name: "UpdateButton",
  mounted() {
    console.log("Mounted Update Button");
  },
  methods: {
    OnUpdatePressed() {
      console.log("Updating");
      axios({
        url:
          "https://storage.googleapis.com/telemetaryproject.appspot.com/Edgy-Entertainment Launcher Setup 0.1.0.exe",
        method: "GET",
        responseType: "blob"
      }).then(response => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        fileLink.setAttribute("download", "Edgy-Entertainment Launcher setup.exe");
        document.body.appendChild(fileLink);
        fileLink.click();
      });
    }
  }
};
</script>

<style scoped>
.updatebtn {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 184, 184);
  top: 3%;
  width: 250px;
  height: 50px;
  right: 6%;
  cursor: pointer; 
  transition: 0.5s all ease;
}

.updateIcon {
  width: 25%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/Update.png");
}
.updatebtn:hover {
  transform: scale(1.2);
}
</style>
