<template>
  <div id="app">
    <navbar />
    <router-view />
    <close-button />
    <update-button v-if="local_version != cloud_version" />
    <readme-button/>
  </div>
</template>


<script>
// @ is an alias to /src
import Navbar from "@/components/NavbarComponent.vue";
import CloseButton from "@/components/CloseButtonComponent.vue";
import UpdateButton from "@/components/UpdateApp.vue";
import ReadmeButton from "@/components/Readme.vue"
import axios from "axios";
export default {
  name: "Home",
  data() {
    return {
      local_version: "0.5.0",
      cloud_version: "0.5.0"
    };
  },
  components: {
    Navbar,
    CloseButton,
    UpdateButton,
    ReadmeButton
  },
  mounted() {
    this.cloud_version = this.local_version
    console.log("MOUNTED");
    this.intervalMethod()
    //timer function to check for updates
    setInterval(this.intervalMethod, 20000);
  },
  methods:{
    intervalMethod(){
      console.log("Ticking");
      axios.get("https://telemetaryproject.wm.r.appspot.com/getversion")
      .then(response => {
        // handle success
        this.cloud_version = response.data[0].VersionNumber;
        console.log(this.cloud_version);
        });
    }
  }
}
</script>


<style>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
body {
  margin: 0px;
  display: block;
  overflow: hidden;
  background-color: black;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
}
.MainBackground {
  background: url("./assets/UnworthyRosesTest.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
